@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "btn.css";
@import "form.css";

/*! purgecss start ignore */

body {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font: 400 14px/16px "Open Sans", "Arial";
}

.card {
  @apply bg-gray-100 opacity-75 shadow-inner mx-auto p-8 mb-10;
}
.label {
  @apply block text-base font-bold mb-1;
}
.chapter-title {
  font-family: 'Qwigley', cursive;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  text-align: center;
}

/*! purgecss end ignore */