<style>
  body {
    background-image: url(<%= url_for(@chapter.image) if @chapter.image.attached? %>);
  }
</style>

<div class="card max-w-4xl">
  <div class="text-gray-800 text-base text-justify p-4">
    <%= @chapter.body %>
    <div class="shared-links mt-4">
      <%= link_to 'retour', root_path %>
    </div>
  </div> 
</div>
