<div class="card max-w-4xl">
  <%= image_tag @chapter.image %>
  <div class="text-gray-800 text-base text-justify p-4">
    <%= @chapter.body %>
    <%= link_to 'retour', root_path, class:"shared-links" %>
  </div> 
</div>
